<div class="text-center">
<h1 class="display-4">Soy Alfredo Mendoza</h1>
<h2>Soy un desarrollador full stack especializado en tecnologías .Net y Javascript</h2>

<img id="foto"
     src="~/imagenes/pic_profile.svg"
     alt="Imagen de Alfredo Mendoza" />
</div>
<div class="row justify-content-center text-center bg-primary text-white py-5">
    <div class="col col-md-7 m">
        <h1 class="mb-4">Te doy la bienvenida a mi portafolio</h1>
        <p>Soy un profesional apasionado por la tecnología, con una sólida experiencia en el desarrollo web y la programación analista. A lo largo de mi trayectoria, he combinado habilidades en diseño, desarrollo backend y frontend, administración de bases de datos, y la implementación de soluciones basadas en la nube para ofrecer proyectos innovadores y de alto impacto.</p>
        <p>Me considero una persona comprometida con el aprendizaje continuo y la entrega de resultados que impacten positivamente a los equipos y proyectos con los que colaboro. Mi enfoque está en unir creatividad y estrategia técnica para desarrollar soluciones que no solo resuelvan problemas actuales, sino que también anticipen futuras necesidades.</p>
    </div>
    <p class="py-5"></p>
</div>